apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot
  namespace: springboot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
      labels:
        app: springboot
    spec:
      nodeSelector:
        node-group: app
      containers:
        - name: springboot
          image: 266735804784.dkr.ecr.ap-northeast-2.amazonaws.com/eks-app-repo:v1.0.2
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: spring-env-secret
